#ZRP-wrap {
    width: 1200px;
    margin: 0 auto;
}

.ZRP-nav-list {
    width: 100%;
    height: 40px;
}

.ZRP-nav-list li {
    float: left;
    line-height: 30px;
    color: black;
    text-align: center;
    padding: 5px;
}

.ZRP-nav-list li a {
    text-decoration: none;
}

.ZRP-title-product-box {
    height: 30px;

}

.ZRP-title-product-left {
    float: left;
}

.colorRed {
    color: #a50000;
    ;
    font-size: 12px;
}

.ZRP-title-product-right,
.ZRP-title-product-right-hidden {
    float: right;
}

.ZRP-title-product-right li,
.ZRP-title-product-right-hidden li {
    float: left;
    padding: 0 10px 0 10px;
}

.ZRP-title-product-right a,
.ZRP-title-product-hidden a {
    text-decoration: none;
}

.ZRP-title-product-hidden {
    display: none;
    z-index: 2;
    width: 100%-20;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #999999;
    padding-left: 20px;
    background: white;
}

.ZRP-title-product-hidden>ul>li>span>a {
    width: 168px;
    height: 32px;
    display: block;
    line-height: 32px;
    text-align: center;
    background: #b81b24;
    color: white;
    margin-top: 8px;
    margin-right: 20px;
    border: 1px solid #820e19;
}

.product {
    float: left;
    height: 480px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 65px;
}

.thumbnail-box {

    float: left;
}

.thumbnail1 {
    width: 70px;
    height: 70px;
    border: 2px solid #a50000;
    background: url("../images/xiangqing/joinimagesWhite.jpg") no-repeat -2px 4px;
    margin-bottom: 10px;
    margin-top: 34px;
}

.thumbnail2 {
    width: 70px;
    height: 70px;
    background: url("../images/xiangqing/joinimagesWhite.jpg")no-repeat 0px -68px;
}


#ZRPsmall {
    top: 0;
    left: 0;
    position: relative;
}

#ZRPbox {
    margin-top: 36px;
    border: 1px solid #e5e5e5;
    float: left;
    height: 400px;
    width: 400px;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
}

#ZRPmask {
    z-index: 3;
    width: 175px;
    height: 175px;
    background: paleturquoise;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    display: none;
}

#ZRPbig {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 450px;
    display: none;
}
#ZRPbigImg {
    position: absolute;
    left: 0;
    top: 0;
}
.bigPic-box img {
    width: 100%;
}
.bigPic-box-bottom {
    height: 61px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
}
.bigPic-box-bottom-left {
    width: 220px;
    background: #c82f2a;
    height: 41px;
    padding: 10px 10px 10px 10px;
}
.bigPic-box-bottom-right {
    width: 140px;
    background: #feb13d;
    height: 41px;
    text-align: center;
    padding: 10px;
}
.befPrice {
    width: 100px;
    display: block;
    text-decoration: line-through;
    color: white;
}
.after1 {
    margin-top: 10px;
    color: white;
    font-size: 16px;
    float: left;
}
.after2 {
    color: white;
    font-size: 24px;
    float: right;
}
.huodongtimeBox {
    margin: 5px auto;
    display: block;
    width: 140px;
    height: 18px;
    color: white;
    border-radius: 5px;
    background: #b44609;
}
.product-right {
    float: left;
    width: 420px;
    height: 420px;
}
.H6title {
    margin: 36px;
    font-size: 16px;
    color: #b81b24;
    font-weight: 500;
}
.H6price {
    font-size: 24px;
}
.H6title span>a {
    text-decoration: none;
    color: #b81b24;
    font-size: 12px;
}
.checkbox-color-items,
.checkbox-color li {
    padding: 1px;
    float: left;
    margin-right: 10px;
}
.checkbox-color {
    float: left;
    margin-bottom: 10px;
}
.checkbox-color li {
    width: 90px;
    height: 40px;
    border: 2px solid #b3b3b3;
}
.checkbox-color .checkbox-color-white {
    border: 2px solid #a50000;
}
.checkbox-color li>img {
    height: 40px;
}
.checkbox-size {
    float: left;
}
.checkbox-size>li {
    min-width: 30px;
    height: 25px;
    float: left;
    border: 2px solid #b3b3b3;
    text-align: center;
    margin-right: 10px;
    line-height: 25px;
    margin-bottom: 20px;
}
.checkbox-size>li:nth-child(2) {
    border: 2px solid #a50000;
}
.selectBtn {
    float: left;
    width: 50px;
    margin-bottom: 20px;
}
.buyNow {
    margin-top: 20px;
    width: 167px;
    height: 32px;
    background: #f7abaf;
    color: #820e19;
    border: 1px solid #820e19;
}
.cartBtn {
    width: 167px;
    height: 32px;
    background: #b81b24;
    color: white;
    border: 1px solid #820e19;
}
.line-box>h4:nth-child(1) {
    line-height: 14px;
    border-bottom: 1px solid #a20000;
    position: relative;
    margin-top: 20px;
}
.line-box>h4>span {
    width: 64px;
    text-align: center;
    position: absolute;
    top: -5px;
    background: white;
    left: 160px;
}
.line-box>div {
    text-align: center;
    width: 34px;
    height: 16px;
    background: #a20000;
    color: white;
    margin: 10px 0 10px 10px;
    float: left;
}
.line-box>span {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    color: #575757;
}
.line-box>h4:nth-child(4) {
    border-bottom: 1px solid #a20000;
    margin-top: 35px;
}
.ZRP-h5 {
    color: #a4a6a5;
    font-size: 14px;
}
.ZRP-h5>p {
    font-weight: 500px;
    color: #929292;
    font-size: 12px;
}
.mainBox {
    margin-bottom: 340px;
}
.Recommend {
    margin-bottom: 20px;
    height: 1167px;
    width: 191px;
    border: 1px solid #929292;
}
.Recommend>h2 {
    font-weight: 500;
    line-height: 35px;
    font-size: 12px;
    padding-left: 20px;
    border-bottom: 1px solid #929292;
}
.Recommend-box {
    float: left;
    margin-right: 20px;
}
.Recommend li {
    padding: 10px;
    text-align: center;
}
.Recommend li span {
    color: #a20000;
    font-weight: 700;
}
.Recommend li img {
    width: 100%;
}
.evaluate-box {
    padding: 20px 0 40px 0;
    float: left;
    width: 920px;
    border: 1px solid #929292;
    line-height: 40px;
    margin-bottom: 20px;
    max-height: 986px;
    overflow: hidden;
}
.containPICBox img {
    width: 60px;
    height: 60px;
}
.radio-box,
.ask-box {
    border-bottom: 1px solid #929292;
    height: 40px;
}
.ask-OutboxPoint {
    float: right;
}
.evaluate-box>div>h2,
.ask-Outbox>div>h2 {
    float: left;
    margin-right: 20px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 40px;
}
.sayBtn,
.askBtn {
    margin-top: 5px;
    margin-right: 5px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #a50000;
    color: white;
    float: right;
}
.sayBtn span a,.askBtn span a{
    color:white;
}
.contain-left {
    float: left;
    min-height: 140px;
    margin-left: 30px;
    width: 750px;
    border-right: 1px dotted #929292;
    border-bottom: 1px dotted #929292
}
.contain-left div>span:nth-child(1) {
    float: left;
}
.contain-left>div:nth-child(1) {
    float: left;
    width: 370px;
}
.containTime {
    color: #929292;
    display: block;
    width: 100px;
}
.contain-right {
    float: right;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contain-right>span {
    display: block;
    line-height: 20px;
    height: 20px;
}
.buyerName {
    text-align: center;
    float: right;
    height: 140px;
    margin-right: 20px;
    width: 119px;
    line-height: 119px;
    border-bottom: 1px dotted #929292;
}
.ask-Outbox {
    padding-bottom: 40px;
    float: left;
    width: 920px;
    border: 1px solid #929292;
    line-height: 40px;
    margin-bottom: 20px;
}
.askLogo {
    margin: 10px;
    height: 20px;
    width: 20px;
    float: left;
    text-align: center;
    line-height: 20px;
    background: #a20000;
    color: white;
}
.questionBox {
    float: left;
}
.questionRight {
    font-weight: 500;
    float: right;
    margin-right: 30px;
}
.questionRight>a {
    text-decoration: none;
    margin-left: 20px;
}
.answerLogo {
    margin: 10px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    width: 20px;
    float: left;
    background: #d7696c;
    color: white;
}
.blank30 {
    height: 30px;
    width: 100%;
    display: block;
}